In [14]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('plate_details.csv', delimiter=',')
# print(df)

# Exclude rows where the filter column is empty
df = df[df['filter'].notna()]
# print(df)

# Group the DataFrame by observatory and save each group to a separate CSV file
for observatory, group_df in df.groupby('observatory'):
    filename = f"{observatory.strip().replace(' ', '_')}.csv"
    group_df.to_csv(filename, index=False)
    print(f"Saved group '{observatory}' to '{filename}'.")

Saved group 'Astrophysikalische Observatorium Potsdam' to 'Astrophysikalische_Observatorium_Potsdam.csv'.
Saved group 'Dr. Remeis-Observatory' to 'Dr._Remeis-Observatory.csv'.
Saved group 'Dr. Remeis-Observatory, Southern Station' to 'Dr._Remeis-Observatory,_Southern_Station.csv'.
Saved group 'European Southern Observatory' to 'European_Southern_Observatory.csv'.
Saved group 'Hamburger Sternwarte' to 'Hamburger_Sternwarte.csv'.
Saved group 'Thüringer Landesternwarte Tautenburg' to 'Thüringer_Landesternwarte_Tautenburg.csv'.
Saved group 'Vatican Observatory' to 'Vatican_Observatory.csv'.

In [45]:
import requests
import pyvo as vo
import json
import numpy as np
import pandas as pd

# Define the parameters
name = 'APPLAUSE'
url = 'https://www.plate-archive.org/tap'
token = 'Token 863d6c56ca291ffc99090f6b2cefb35f496ca8e4'

# Read the CSV file and select the column with the plate_id
df = pd.read_csv('Thüringer_Landesternwarte_Tautenburg.csv')
plate_ids = df['plate_id'].tolist()

# Function to chunk the list into groups of specified size
def chunk_list(data_list, chunk_size):
    for i in range(0, len(data_list), chunk_size):
        yield data_list[i:i + chunk_size]

# Function to process each chunk
def process_chunk(chunk):
    # Format the plate_id list for the SQL query
    ids_str = ', '.join(f"'{id}'" for id in chunk)
    
    # Create the query string
    qstr = f"""
    SELECT exposure_id, plate_id, ra_orig, dec_orig, jd_start, exptime
    FROM applause_dr4.exposure
    WHERE plate_id IN ({ids_str})
    """
    
    # Setup the TAP service session
    tap_session = requests.Session()
    tap_session.headers['Authorization'] = token
    tap_service = vo.dal.TAPService(url, session=tap_session)
    
    # Submit the query
    lang = 'PostgreSQL'
    job = tap_service.submit_job(qstr, language=lang)
    job.run()
    
    # Wait for job completion
    job.wait(phases=["COMPLETED", "ERROR", "ABORTED"], timeout=30.)
    
    # Raise an error if the job failed
    job.raise_if_error()
    
    # Fetch results
    return job.fetch_result()

# Print pyvo version and TAP service name
print('\npyvo version %s \n' % vo.__version__)
print('TAP service %s \n' % name)

# Initialize the result list
query_results = []

# Process each chunk
for chunk in chunk_list(plate_ids, 170):
    results = process_chunk(chunk)
    query_results.append(results)

# Print the final query results as DataFrame
for result in query_results:
    df_result = result.to_table().to_pandas()
    print(df_result)

pyvo version 1.5.2

TAP service APPLAUSE

     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         115572     70372     00:40   +41:00  2.437255e+06    240.0
1         115573     70373     00:40   +41:00  2.437255e+06    600.0
2         115574     70374     03:44   +24:00  2.437256e+06    600.0
3         115575     70375     00:40   +41:00  2.437261e+06   2340.0
4         115576     70376  03:45:05   +23:59  2.437263e+06   1740.0
..           ...       ...       ...      ...           ...      ...
167       115739     70537  01:39:46   +51:19  2.437913e+06   1080.0
168       115740     70538  03:06:22   +61:20  2.437913e+06    240.0
169       115741     70539  16:43:00   +36:33  2.437913e+06   3600.0
170       115742     70540     18:50   +10:16  2.437913e+06    600.0
171       115743     70541     18:50   +10:16  2.437913e+06    900.0

[172 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         115744     70542     18:50   +10:16  2.437913e+06    600.0
1         115745     70543     18:50   +10:16  2.437913e+06    900.0
2         115746     70544  00:37:50   +41:05  2.437913e+06   3540.0
3         115747     70545  02:14:19   +57:02  2.437914e+06   3600.0
4         115748     70546  02:14:06   +57:02  2.437918e+06   2400.0
..           ...       ...       ...      ...           ...      ...
165       115909     70707  18:55:31   +53:17  2.438129e+06     40.0
166       115910     70708  06:12:28   +29:29  2.438134e+06   1200.0
167       115911     70709  13:45:24   +29:40  2.438134e+06  10800.0
168       115912     70710  18:23:32   +55:15  2.438137e+06   1800.0
169       115913     70711  16:41:48   +36:33  2.438143e+06   1200.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         115914     70712  16:41:48   +36:33  2.438143e+06   1200.0
1         115915     70713  16:53:54   +76:52  2.438143e+06   1200.0
2         115916     70714  16:53:50   +76:52  2.438143e+06    600.0
3         115917     70715  16:41:47   +36:33  2.438143e+06    600.0
4         115918     70716     06:13   +29:29  2.438143e+06   1800.0
..           ...       ...       ...      ...           ...      ...
165       116079     70877  01:31:32   +30:16  2.438288e+06   5280.0
166       116080     70878  02:16:21   +57:01  2.438288e+06    720.0
167       116081     70879  20:23:27   +40:05  2.438288e+06    600.0
168       116082     70880  02:16:28   +57:01  2.438288e+06    720.0
169       116083     70881  00:40:30   +40:49  2.438288e+06   1800.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         116084     70882  00:40:02   +40:32  2.438288e+06   4500.0
1         116085     70883  01:31:33   +30:16  2.438289e+06   4500.0
2         116086     70884  18:54:00   +01:15  2.438289e+06   1800.0
3         116087     70885  20:23:27   +40:06  2.438289e+06   1800.0
4         116088     70886  00:40:02   +40:33  2.438289e+06   8100.0
..           ...       ...       ...      ...           ...      ...
165       116249     71047  07:28:15   +25:55  2.438471e+06   1800.0
166       116250     71048  07:28:15   +25:55  2.438471e+06   1800.0
167       116251     71049  08:49:50   +12:06  2.438471e+06    900.0
168       116252     71050  13:46:52   +30:06  2.438471e+06   5400.0
169       116253     71051  13:34:26   +30:01  2.438471e+06   1800.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         116254     71052  07:25:46   +26:22  2.438472e+06   1800.0
1         116255     71053  07:25:46   +26:22  2.438472e+06   3600.0
2         116256     71054  13:35:03   +27:25  2.438472e+06   5400.0
3         116257     71055  13:58:26   +27:22  2.438473e+06   1800.0
4         116258     71056  14:09:33   +27:19  2.438473e+06   1800.0
..           ...       ...       ...      ...           ...      ...
165       116419     71217  13:35:04   +27:25  2.438831e+06    300.0
166       116420     71218  13:46:54   +30:05  2.438832e+06    300.0
167       116421     71219  13:47:15   +27:13  2.438832e+06    300.0
168       116422     71220  13:57:25   +29:58  2.438832e+06    300.0
169       116423     71221  13:58:26   +29:22  2.438832e+06    300.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         116424     71222  14:09:55   +30:02  2.438832e+06    300.0
1         116425     71223  14:09:33   +27:19  2.438832e+06    300.0
2         116426     71224  13:34:36   +30:01  2.438832e+06   6600.0
3         116427     71225  14:09:33   +27:19  2.438833e+06    300.0
4         116428     71226  13:46:54   +30:05  2.438833e+06    300.0
..           ...       ...       ...      ...           ...      ...
165       116589     71387  13:40:49   +28:36  2.439206e+06   1800.0
166       116590     71388  13:58:50   +29:32  2.439206e+06   1800.0
167       116591     71389  13:40:30   +28:36  2.439210e+06   1800.0
168       116592     71390  13:58:50   +29:32  2.439210e+06   1320.0
169       116593     71391  13:40:58   +28:37  2.439232e+06   4500.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         116594     71392  13:40:58   +28:37  2.439238e+06   5400.0
1         116595     71393  13:40:50   +28:37  2.439238e+06   5400.0
2         116596     71394  13:40:50   +28:37  2.439239e+06    960.0
3         116597     71395  13:40:50   +28:37  2.439243e+06   2700.0
4         116598     71396  13:58:55   +29:33  2.439244e+06   2400.0
..           ...       ...       ...      ...           ...      ...
165       116759     71557  09:39:29   +50:04  2.439557e+06   2700.0
166       116760     71558  09:39:29   +50:04  2.439557e+06   2700.0
167       116761     71559  12:26:50   +12:17  2.439557e+06   7200.0
168       116762     71560  12:26:50   +12:17  2.439558e+06   3600.0
169       116763     71561     12:19   +15:54  2.439558e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         116764     71562  09:52:21   +69:03  2.439558e+06   3600.0
1         116765     71563     12:19   +15:54  2.439559e+06   5400.0
2         116766     71564  12:19:00   +15:54  2.439559e+06   8100.0
3         116767     71565  09:39:29   +50:04  2.439559e+06   2700.0
4         116768     71566  12:19:00   +15:54  2.439562e+06   2820.0
..           ...       ...       ...      ...           ...      ...
165       116929     71727  16:40:49   +39:57  2.439798e+06    900.0
166       116930     71728     22:30   +11:28  2.439798e+06    900.0
167       116931     71729  21:28:12   +12:02  2.439798e+06   5100.0
168       116932     71730  00:40:00   +40:31  2.439798e+06   1500.0
169       116933     71731  00:40:00   +40:31  2.439798e+06   1500.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         116934     71732  00:40:00   +40:31  2.439799e+06   1500.0
1         116935     71733  00:40:00   +40:31  2.439799e+06   1500.0
2         116936     71734  00:40:00   +40:31  2.439799e+06   1500.0
3         116937     71735  00:39:13   +85:03  2.439799e+06   1500.0
4         116938     71736  00:39:13   +85:03  2.439799e+06   1500.0
..           ...       ...       ...      ...           ...      ...
165       117099     71897  13:43:07   +29:08  2.440419e+06    900.0
166       117100     71898  20:50:58   +30:41  2.440419e+06   2700.0
167       117101     71899  20:50:58   +30:41  2.440420e+06   4800.0
168       117102     71900  20:50:58   +30:41  2.440427e+06   4800.0
169       117103     71901  00:40:54   +40:38  2.440428e+06   2400.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         117104     71902  17:16:12   +43:10  2.440499e+06   1500.0
1         117105     71903  00:41:17   +40:50  2.440499e+06   1500.0
2         117106     71904     18:43   +79:44  2.440499e+06    240.0
3         117107     71905     18:43   +79:44  2.440499e+06    240.0
4         117108     71906  00:41:17   +40:50  2.440499e+06   1500.0
..           ...       ...       ...      ...           ...      ...
165       117269     72067  22:44:49   +36:21  2.440685e+06   1800.0
166       117270     72068  14:59:02   +71:48  2.440687e+06   2700.0
167       117271     72069  18:44:13   +79:44  2.440687e+06    720.0
168       117272     72070  23:01:22   +43:20  2.440689e+06   2400.0
169       117273     72071  23:01:22   +43:20  2.440689e+06   2100.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         117274     72072  10:58:08   +50:24  2.440690e+06    780.0
1         117275     72073  23:05:55   +44:50  2.440690e+06   1800.0
2         117276     72074  23:05:55   +44:50  2.440690e+06   1560.0
3         117277     72075  13:59:16   +28:10  2.440708e+06   1200.0
4         117278     72076  00:49:04   +62:03  2.440712e+06   2400.0
..           ...       ...       ...      ...           ...      ...
165       117439     72237  13:46:24   +27:24  2.441390e+06   3600.0
166       117440     72238  11:03:11   +48:25  2.441390e+06   1200.0
167       117441     72239  11:04:09   +50:19  2.441390e+06   1200.0
168       117442     72240  10:58:37   +48:39  2.441390e+06   1200.0
169       117443     72241  12:55:44   +28:33  2.441390e+06   1200.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         117444     72242  13:02:34   +27:22  2.441390e+06   1200.0
1         117445     72243  12:55:56   +27:14  2.441390e+06   1200.0
2         117446     72244  13:02:34   +28:33  2.441391e+06   4500.0
3         117447     72245  13:35:20   +27:19  2.441391e+06   1200.0
4         117448     72246  13:46:24   +27:24  2.441391e+06   4500.0
..           ...       ...       ...      ...           ...      ...
165       117609     72407  06:48:39   +74:27  2.441681e+06    300.0
166       117610     72408  06:48:39   +74:27  2.441681e+06    900.0
167       117611     72409  04:31:35   +05:18  2.441681e+06    360.0
168       117612     72410  04:31:35   +05:18  2.441681e+06    900.0
169       117613     72411  00:40:50   +40:40  2.441681e+06   1800.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         117614     72412  12:40:46   +32:47  2.441685e+06   5400.0
1         117615     72413  12:40:46   +32:47  2.441685e+06   1800.0
2         117616     72414  06:30:00   +10:56  2.441747e+06    900.0
3         117617     72415  18:43:25   +80:00  2.441750e+06   3600.0
4         117618     72416  10:58:45   +77:15  2.441771e+06   1500.0
..           ...       ...       ...      ...           ...      ...
165       117779     72577  11:45:12   +49:03  2.442096e+06    420.0
166       117780     72578  11:36:50   +66:08  2.442100e+06    600.0
167       117781     72579  11:45:12   +49:03  2.442120e+06   1200.0
168       117782     72580  05:27:56   +34:35  2.442122e+06   3600.0
169       117783     72581  11:45:12   +49:03  2.442122e+06    300.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         117784     72582  11:45:12   +49:03  2.442122e+06    150.0
1         117785     72583  11:45:12   +49:03  2.442122e+06   1200.0
2         117786     72584  09:41:32   +50:37  2.442123e+06   3600.0
3         117787     72585  13:35:22   +29:52  2.442123e+06   2700.0
4         117788     72586  13:35:22   +29:52  2.442123e+06   1500.0
..           ...       ...       ...      ...           ...      ...
165       117949     72747  09:42:03   +50:37  2.442478e+06   4860.0
166       117950     72748  10:52:00   +40:44  2.442479e+06   1500.0
167       117951     72749  14:58:50   +71:47  2.442480e+06   2700.0
168       117952     72750  13:46:24   +27:24  2.442480e+06   3600.0
169       117953     72751  16:41:58   +39:52  2.442481e+06   1800.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         117954     72752  17:16:22   +43:09  2.442481e+06   2400.0
1         117955     72753  12:40:46   +32:47  2.442481e+06   3600.0
2         117956     72754  17:16:22   +43:09  2.442490e+06   2160.0
3         117957     72755  09:41:02   +49:20  2.442508e+06   3600.0
4         117958     72756  09:41:32   +50:37  2.442508e+06   2700.0
..           ...       ...       ...      ...           ...      ...
165       118119     72917  08:49:40   +11:54  2.442776e+06   1800.0
166       118120     72918  00:41:12   +40:40  2.442776e+06   2400.0
167       118121     72919  02:40:00   +52:30  2.442782e+06    900.0
168       118122     72920  00:24:30   +61:01  2.442804e+06   2100.0
169       118123     72921  00:24:30   +61:01  2.442804e+06    720.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         118124     72922  00:24:30   +61:01  2.442805e+06    360.0
1         118125     72923  01:32:13   +30:25  2.442805e+06   1800.0
2         118126     72924  01:32:13   +30:25  2.442805e+06    780.0
3         118127     72925  08:49:40   +11:54  2.442806e+06   1800.0
4         118128     72926  08:49:40   +11:54  2.442806e+06    120.0
..           ...       ...       ...      ...           ...      ...
165       118289     73087  00:24:30   +61:01  2.443371e+06   3180.0
166       118290     73088  18:43:25   +79:45  2.443400e+06   3600.0
167       118291     73089  18:43:25   +79:45  2.443401e+06   1260.0
168       118292     73090  17:57:41   +70:15  2.443428e+06   1320.0
169       118293     73091  00:58:40   +30:40  2.443428e+06   1560.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         118294     73092  01:23:31   +32:03  2.443429e+06   1560.0
1         118295     73093  02:26:55   +31:13  2.443429e+06   1560.0
2         118296     73094  00:24:30   +61:01  2.443431e+06    420.0
3         118297     73095  00:24:30   +61:01  2.443432e+06    600.0
4         118298     73096  00:23:00   +64:10  2.443432e+06   3000.0
..           ...       ...       ...      ...           ...      ...
165       118459     73257  21:29:10   +12:11  2.444112e+06     30.0
166       118460     73258  21:29:10   +12:11  2.444116e+06     60.0
167       118461     73259  21:32:35   -00:50  2.444116e+06     60.0
168       118462     73260  21:29:10   +12:11  2.444116e+06     60.0
169       118463     73261  23:34:24   +20:44  2.444116e+06    840.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         118464     73262  21:29:10   +12:11  2.444116e+06     60.0
1         118465     73263  23:43:15   +27:06  2.444117e+06    900.0
2         118466     73264  21:29:10   +12:11  2.444117e+06    120.0
3         118467     73265  01:05:30   +32:16  2.444117e+06    900.0
4         118468     73266  00:51:30   +32:16  2.444117e+06    900.0
..           ...       ...       ...      ...           ...      ...
165       118629     73427  01:32:33   +30:26  2.444988e+06    420.0
166       118630     73428  01:32:33   +30:26  2.444989e+06    600.0
167       118631     73429  01:32:33   +30:26  2.444989e+06    600.0
168       118632     73430  01:32:33   +30:26  2.445020e+06    600.0
169       118633     73431  12:56:10   -01:13  2.445085e+06    480.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         118634     73432  10:15:30   +14:12  2.445085e+06    480.0
1         118635     73433  12:28:40   +14:49  2.445087e+06   1080.0
2         118636     73434  13:46:12   +29:36  2.445087e+06   1260.0
3         118637     73435  12:54:45   -01:10  2.445087e+06    480.0
4         118638     73436  10:15:55   +14:20  2.445087e+06    480.0
..           ...       ...       ...      ...           ...      ...
165       118799     73597  17:53:12   -17:11  2.445905e+06    420.0
166       118800     73598  17:53:12   -17:11  2.445905e+06    720.0
167       118801     73599  16:40:52   +36:30  2.445905e+06   1560.0
168       118802     73600  16:40:52   +36:30  2.445906e+06   1560.0
169       118803     73601  17:53:12   -17:11  2.445906e+06    480.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         118804     73602  16:40:52   +36:30  2.445907e+06   3180.0
1         118805     73603  00:40:52   +40:59  2.445912e+06   1560.0
2         118806     73604  17:02:47   +28:32  2.445912e+06   1260.0
3         118807     73605  17:02:47   +28:32  2.445912e+06   2640.0
4         118808     73606  00:41:51   +40:46  2.445914e+06   1560.0
..           ...       ...       ...      ...           ...      ...
165       118969     73767  03:49:00   +03:31  2.446684e+06   1080.0
166       118970     73768  20:31:18   +12:17  2.446685e+06   1200.0
167       118971     73769  20:48:00   +29:15  2.446713e+06   1920.0
168       118972     73770  01:08:46   +16:03  2.446713e+06    480.0
169       118973     73771  01:18:51   +32:07  2.446713e+06   1200.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         118974     73772  03:47:23   +00:32  2.446714e+06    900.0
1         118975     73773  03:18:56   +41:28  2.446714e+06   1020.0
2         118976     73774  03:18:56   +41:28  2.446714e+06   1020.0
3         118977     73775  03:47:23   +00:32  2.446714e+06    900.0
4         118978     73776  21:43:54   -14:23  2.446714e+06    840.0
..           ...       ...       ...      ...           ...      ...
165       119139     73937  17:17:08   +43:10  2.447673e+06   1140.0
166       119140     73938  17:17:08   +43:10  2.447673e+06   1380.0
167       119141     73939  17:17:08   +43:10  2.447673e+06   1500.0
168       119142     73940  13:41:40   +28:26  2.447682e+06    720.0
169       119143     73941  13:41:40   +28:26  2.447682e+06   1260.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         119144     73942  17:17:09   +43:10  2.447683e+06   3300.0
1         119145     73943  17:17:09   +43:10  2.447685e+06   3000.0
2         119146     73944  17:17:08   +43:10  2.447713e+06   1020.0
3         119147     73945  17:17:08   +43:14  2.447713e+06   1380.0
4         119148     73946  17:16:30   +43:11  2.447714e+06   1080.0
..           ...       ...       ...      ...           ...      ...
165       119309     74107  17:46:30   +65:14  2.448534e+06   1740.0
166       119310     74108  18:00:00   +66:34  2.448535e+06   1920.0
167       119311     74109  18:13:30   +67:54  2.448535e+06   1920.0
168       119312     74110  18:00:00   +66:34  2.448537e+06   1920.0
169       119313     74111  18:13:30   +65:14  2.448537e+06   1920.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         119314     74112  17:46:30   +67:54  2.448538e+06   1620.0
1         119315     74113  18:00:00   +66:34  2.448538e+06   1800.0
2         119316     74114  17:46:30   +65:14  2.448538e+06   1860.0
3         119317     74115  18:13:30   +67:54  2.448539e+06   1740.0
4         119318     74116  18:00:00   +66:34  2.448539e+06   1800.0
..           ...       ...       ...      ...           ...      ...
165       119479     74277  17:16:58   +43:08  2.449481e+06   1980.0
166       119480     74278  13:41:58   +28:25  2.449481e+06   1860.0
167       119481     74279  13:36:52   +27:12  2.449481e+06   2100.0
168       119482     74280  17:16:58   +43:08  2.449482e+06   1800.0
169       119483     74281  08:55:00   +20:00  2.449482e+06   1080.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig dec_orig      jd_start  exptime
0         119484     74282  13:48:14   +29:36  2.449482e+06   2220.0
1         119485     74283  13:47:25   +27:18  2.449484e+06   1800.0
2         119486     74284  13:41:58   +28:24  2.449485e+06   2880.0
3         119487     74285  08:55:00   +20:00  2.449486e+06    900.0

In [47]:
# Initialize an empty DataFrame to store the combined results
combined_df = pd.DataFrame()

# Combine the query results into a single DataFrame
for result in query_results:
    df_result = result.to_table().to_pandas()
    combined_df = pd.concat([combined_df, df_result], ignore_index=True)

# Save the combined DataFrame as a CSV file named 'plate_tls.csv'
combined_df.to_csv('plate_tls.csv', index=False)

In [53]:
import pandas as pd

# Read the CSV files into DataFrames
df1 = pd.read_csv('plate_tls.csv')
df2 = pd.read_csv('Thüringer_Landesternwarte_Tautenburg.csv')

# Merge the DataFrames on 'plate_id'
merged_df = pd.merge(df2, df1[['plate_id', 'ra_orig', 'dec_orig']], on='plate_id')

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('TLS_plate_pos.csv', index=False)

print("Merged file saved as 'TLS_plate_pos.csv'")

Merged file saved as 'TLS_plate_pos.csv'

In [6]:
import pandas as pd
from datetime import datetime, timedelta

# Function to filter plates taken within a one-year period and have different filters
def filter_plates_within_year(df):
    filtered_plates = []
    for i in range(len(df)):
        for j in range(i+1, len(df)):
            date_i = datetime.strptime(df.iloc[i]['date_orig'], '%Y-%m-%d')
            date_j = datetime.strptime(df.iloc[j]['date_orig'], '%Y-%m-%d')
            delta = date_j - date_i
            if abs(delta.days) <= 124 and df.iloc[i]['filter'] != df.iloc[j]['filter']:
                filtered_plates.append(df.iloc[i])
                filtered_plates.append(df.iloc[j])
    return pd.DataFrame(filtered_plates)

# Read the CSV file
filename = "TLS_plate_pos.csv"
# filename = "Vatican_Observatory.csv"
# filename = "Dr._Remeis-Observatory.csv"
df = pd.read_csv(filename)

# Sort by date_orig
df_sorted = df.sort_values(by='date_orig')

# Filter plates within one-year period with different filters
filtered_df = filter_plates_within_year(df_sorted)

# Save filtered DataFrame to CSV
filtered_df.to_csv("TLS.csv", index=False)

In [7]:
print(df[80:85])

    plate_id  plate_num                                        emulsion  \
80     70450        299  yellow-sensitive plate (D; G; ZP1; ZO; AP; RO)
81     70451        300  yellow-sensitive plate (D; G; ZP1; ZO; AP; RO)
82     70452        301  yellow-sensitive plate (D; G; ZP1; ZO; AP; RO)
83     70453        302  yellow-sensitive plate (D; G; ZP1; ZO; AP; RO)
84     70454        303  yellow-sensitive plate (D; G; ZP1; ZO; AP; RO)

            filter   date_orig                           observatory  \
80  without filter  1962-02-09  Thüringer Landesternwarte Tautenburg
81  without filter  1962-02-09  Thüringer Landesternwarte Tautenburg
82  without filter  1962-02-10  Thüringer Landesternwarte Tautenburg
83  without filter  1962-02-10  Thüringer Landesternwarte Tautenburg
84  without filter  1962-02-10  Thüringer Landesternwarte Tautenburg

     ra_orig dec_orig
80  05:30:50   +34:40
81  05:52:42   +32:05
82  05:54:52   +49:53
83  08:36:40   +20:07
84  14:00:02   +54:49

In [13]:
import pandas as pd
from astropy.coordinates import SkyCoord
from astropy.time import Time
import astropy.units as u

# Load the CSV file into a DataFrame
file_path = "TLS.csv"  # Replace with your actual file path
df = pd.read_csv(file_path)

# Function to convert ra_orig and dec_orig to Galactic coordinates with date
def convert_to_galactic_with_date(ra, dec, date_orig):
    time = Time(date_orig)
    skycoord = SkyCoord(ra=ra, dec=dec, unit=(u.hourangle, u.deg), obstime=time)
    return skycoord.galactic

# Apply the conversion function to ra_orig, dec_orig, and date_orig
df['galactic_coord'] = df.apply(lambda row: convert_to_galactic_with_date(row['ra_orig'], row['dec_orig'], row['date_orig']), axis=1)

# Define a tolerance (in degrees)
tolerance = 30 * u.arcminute  # Adjust as needed

# Initialize an empty list to store the matched rows
matched_rows = []

# Iterate through the DataFrame in pairs
for i in range(0, len(df), 2):
    if i + 1 < len(df):
        # Compare the pairs
        row1 = df.iloc[i]
        row2 = df.iloc[i + 1]
        
        # Calculate the separation between the two galactic coordinates
        separation = row1['galactic_coord'].separation(row2['galactic_coord'])
        
        if separation <= tolerance:
            matched_rows.append(row1)
            matched_rows.append(row2)

# Create a new DataFrame from the matched rows
matched_df = pd.DataFrame(matched_rows).drop(columns=['galactic_coord'])

# Save the resulting DataFrame to a new CSV file
output_file_path = "matched_rows_galactic_TLS.csv"
matched_df.to_csv(output_file_path, index=False)

print(f"Saved matched rows to '{output_file_path}'")

Saved matched rows to 'matched_rows_galactic_TLS.csv'

In [14]:
import requests
import pyvo as vo
import json
import numpy as np
import pandas as pd

# Define the parameters
name = 'APPLAUSE'
url = 'https://www.plate-archive.org/tap'
token = 'Token 863d6c56ca291ffc99090f6b2cefb35f496ca8e4'

# Read the CSV file and select the column with the plate_id
df = pd.read_csv('Hamburger_Sternwarte.csv')
plate_ids = df['plate_id'].tolist()

# Function to chunk the list into groups of specified size
def chunk_list(data_list, chunk_size):
    for i in range(0, len(data_list), chunk_size):
        yield data_list[i:i + chunk_size]

# Function to process each chunk
def process_chunk(chunk):
    # Format the plate_id list for the SQL query
    ids_str = ', '.join(f"'{id}'" for id in chunk)
    
    # Create the query string
    qstr = f"""
    SELECT exposure_id, plate_id, ra_orig, dec_orig, jd_start, exptime
    FROM applause_dr4.exposure
    WHERE plate_id IN ({ids_str})
    """
    
    # Setup the TAP service session
    tap_session = requests.Session()
    tap_session.headers['Authorization'] = token
    tap_service = vo.dal.TAPService(url, session=tap_session)
    
    # Submit the query
    lang = 'PostgreSQL'
    job = tap_service.submit_job(qstr, language=lang)
    job.run()
    
    # Wait for job completion
    job.wait(phases=["COMPLETED", "ERROR", "ABORTED"], timeout=30.)
    
    # Raise an error if the job failed
    job.raise_if_error()
    
    # Fetch results
    return job.fetch_result()

# Print pyvo version and TAP service name
print('\npyvo version %s \n' % vo.__version__)
print('TAP service %s \n' % name)

# Initialize the result list
query_results = []

# Process each chunk
for chunk in chunk_list(plate_ids, 170):
    results = process_chunk(chunk)
    query_results.append(results)

# Print the final query results as DataFrame
for result in query_results:
    df_result = result.to_table().to_pandas()
    print(df_result)

pyvo version 1.5.2

TAP service APPLAUSE

     exposure_id  plate_id  ra_orig  dec_orig      jd_start  exptime
0           2628      1865  02:38.0  +50:17.7  2.425174e+06  14400.0
1           9157      5863  23:00.0  +83 00.0  2.431289e+06   3180.0
2           9417      5935  04:24.0  +15:48.0  2.431798e+06   2460.0
3           9418      5935  04:24.0  +15:48.0           NaN    420.0
4           9419      5935  04:24.0  +15:48.0           NaN    240.0
..           ...       ...      ...       ...           ...      ...
313        14540      7979  05:43.3  +09:02.0  2.435129e+06    180.0
314        14550      7988  05:43.3  +09:02.0  2.435131e+06    360.0
315        14551      7988  05:43.3  +09:02.0  2.435131e+06    180.0
316        14558      7994  05:43.3  +09:02.0  2.435137e+06    360.0
317        14559      7994  05:43.3  +09:02.0  2.435137e+06    180.0

[318 rows x 6 columns]
     exposure_id  plate_id  ra_orig  dec_orig      jd_start  exptime
0          14591      8024  05:43.3  +09:02.0  2.435161e+06    360.0
1          14592      8024  05:43.3  +09:02.0  2.435161e+06    180.0
2          14632      8058  05:43.3  +09:02.0  2.435164e+06    360.0
3          14633      8058  05:43.3  +09:02.0  2.435164e+06    180.0
4          14657      8081  05:43.3  +09:02.0  2.435177e+06    360.0
..           ...       ...      ...       ...           ...      ...
489        39886      9159  12:52.0  +28:26.0  2.435622e+06     10.0
490        39887      9160  12:52.0  +28:26.0  2.435622e+06     60.0
491        39888      9160  12:52.0  +28:26.0  2.435622e+06     60.0
492        39889      9160  12:52.0  +28:26.0  2.435622e+06     10.0
493        39890      9160  12:52.0  +28:26.0  2.435622e+06     10.0

[494 rows x 6 columns]
     exposure_id  plate_id  ra_orig  dec_orig      jd_start  exptime
0          39891      9161  12:52.0  +28:26.0  2.435622e+06     60.0
1          39892      9161  12:52.0  +28:26.0  2.435622e+06     60.0
2          39893      9161  12:52.0  +28:26.0  2.435622e+06     10.0
3          39894      9161  12:52.0  +28:26.0  2.435622e+06     10.0
4          39895      9162  12:52.0  +28:26.0  2.435622e+06     60.0
..           ...       ...      ...       ...           ...      ...
441        41482      9942  00:28.2  +62:08.0  2.436495e+06   1500.0
442        41483      9943  00:28.2  +62:08.0  2.436496e+06   1500.0
443        41486      9946  00:28.2  +62:08.0  2.436517e+06    960.0
444        41487      9946  00:28.2  +62:08.0  2.436517e+06    240.0
445        41498      9957  23:54.7  +56:26.0  2.436518e+06    900.0

[446 rows x 6 columns]
     exposure_id  plate_id  ra_orig  dec_orig      jd_start  exptime
0          41499      9958  23:54.7  +56:26.0  2.436518e+06    900.0
1          41500      9959  23:54.7  +56:26.0  2.436518e+06    900.0
2          41503      9960  22:09.3  +57:30.0  2.436539e+06    200.0
3          41504      9960  22:09.3  +57:30.0  2.436539e+06     20.0
4          41505      9961  22:46.2  +57:30.0  2.436539e+06    200.0
..           ...       ...      ...       ...           ...      ...
346        42778     10584  13:07.8  +29:44.0  2.437049e+06   1440.0
347        42779     10585  13:07.8  +29:44.0  2.437049e+06   1440.0
348        42780     10586  13:07.8  +29:44.0  2.437049e+06   1800.0
349        42781     10587  13:07.8  +29:44.0  2.437049e+06   1440.0
350        42782     10588  13:07.8  +29:44.0  2.437049e+06    720.0

[351 rows x 6 columns]
     exposure_id  plate_id  ra_orig  dec_orig      jd_start  exptime
0          42783     10589  12:19.8  +27:30.0  2.437049e+06    720.0
1          42784     10590  12:19.7  +27:30.0  2.437050e+06    360.0
2          42785     10591  13:07.8  +29:44.0  2.437054e+06    360.0
3          42786     10592  13:07.8  +29:44.0  2.437054e+06    180.0
4          42787     10592  13:07.8  +29:44.0  2.437054e+06     36.0
..           ...       ...      ...       ...           ...      ...
350        43344     10847  19:27.5  +27:30.0           NaN      8.0
351        43345     10848  07:27.5  +27:30.0  2.437409e+06    600.0
352        43346     10848  07:27.5  +27:30.0  2.437409e+06     60.0
353        43347     10848  07:27.5  +27:30.0  2.437409e+06      8.0
354        43348     10848  07:27.5  +27:30.0  2.437409e+06      1.0

[355 rows x 6 columns]
     exposure_id  plate_id  ra_orig  dec_orig      jd_start  exptime
0          43349     10849  07:50.0  +27:30.0  2.437409e+06    600.0
1          43350     10849  07:50.0  +27:30.0  2.437409e+06     60.0
2          43351     10849  07:50.0  +27:30.0  2.437409e+06      8.0
3          43352     10849  07:50.0  +27:30.0  2.437409e+06      1.0
4          43353     10850  08:12.5  +27:30.0  2.437409e+06    600.0
..           ...       ...      ...       ...           ...      ...
302        43704     11060  00:36.9  +57:30.0  2.437958e+06      2.0
303        43705     11061  01:39.3  +67:30.0  2.437958e+06    600.0
304        43706     11061  01:39.3  +67:30.0  2.437958e+06     60.0
305        43707     11061  01:39.3  +67:30.0  2.437958e+06      8.0
306        43708     11061  01:39.3  +67:30.0  2.437958e+06      2.0

[307 rows x 6 columns]
     exposure_id  plate_id  ra_orig  dec_orig      jd_start  exptime
0          43709     11062  02:29.0  +67:30.0  2.437958e+06    600.0
1          43710     11062  02:29.0  +67:30.0  2.437958e+06     60.0
2          43711     11062  02:29.0  +67:30.0  2.437958e+06      8.0
3          43712     11062  02:29.0  +67:30.0  2.437958e+06      2.0
4          43713     11063  01:13.9  +57:30.0  2.437958e+06    600.0
..           ...       ...      ...       ...           ...      ...
302        44051     11262  22:15.2  +57:27.0  2.438289e+06   3600.0
303        44052     11263  22:15.2  +57:27.0  2.438290e+06   3600.0
304        44053     11264  01:24.7  +59:10.0  2.438290e+06   3600.0
305        44054     11265  01:36.5  +61:59.0  2.438290e+06   1200.0
306        44055     11266  19:41.5  +24:13.0  2.438290e+06   1200.0

[307 rows x 6 columns]
     exposure_id  plate_id  ra_orig  dec_orig      jd_start  exptime
0          44056     11267  19:41.5  +24:13.0  2.438290e+06    480.0
1          44059     11270  19:50.7  +29:19.0  2.438290e+06    600.0
2          44060     11271  19:50.7  +29:19.0  2.438292e+06    900.0
3          44061     11272  19:50.7  +29:19.0  2.438292e+06   1500.0
4          44062     11273  19:50.7  +29:19.0  2.438292e+06   1440.0
..           ...       ...      ...       ...           ...      ...
235        44541     11567  20:14.4  +18:15.0  2.438652e+06    600.0
236        44542     11567  20:14.4  +18:15.0  2.438652e+06    150.0
237        44543     11567  20:14.4  +18:15.0  2.438652e+06     40.0
238        44544     11568  19:23.6  +17:30.0  2.438652e+06   3600.0
239        44548     11571  19:41.0  +32:30.0  2.438652e+06   4140.0

[240 rows x 6 columns]
     exposure_id  plate_id  ra_orig  dec_orig      jd_start  exptime
0          44562     11578  19:18.0  +14:00.0  2.438654e+06    390.0
1          44563     11579  21:45.5  +50:00.0  2.438657e+06   1800.0
2          44564     11580  19:18.0  +14:00.0  2.438662e+06    900.0
3          44565     11581  20:16.5  +31:25.0  2.438662e+06   1200.0
4          44566     11582  21:31.0  +12:30.0  2.438663e+06   1800.0
..           ...       ...      ...       ...           ...      ...
402        46100     11984  20:14.0  +18:20.0  2.439384e+06    600.0
403        46101     11984  20:14.0  +18:20.0  2.439384e+06    200.0
404        46102     11984  20:14.0  +18:20.0  2.439384e+06     60.0
405        46107     11987  01:50.4  +56:10.0  2.439384e+06   1800.0
406        46108     11988  03:06.2  +47:30.0  2.439384e+06   3600.0

[407 rows x 6 columns]
     exposure_id  plate_id  ra_orig  dec_orig      jd_start  exptime
0          46112     11991  04:06.1  +30:39.0  2.439385e+06    600.0
1          46113     11991  04:06.1  +30:39.0  2.439385e+06    200.0
2          46115     11993  03:34.0  +42:30.0  2.439386e+06   3600.0
3          46116     11994  20:14.0  +18:20.0  2.439387e+06     18.0
4          46117     11994  20:14.0  +18:20.0           NaN     18.0
..           ...       ...      ...       ...           ...      ...
197        46861     12298  20:40.0  +19:10.0  2.440155e+06     60.0
198        46862     12299  04:23.4  +62:30.0  2.440155e+06   3600.0
199        46863     12300  05:45.0  +37:30.0  2.440156e+06   3600.0
200        46866     12303  19:48.3  +28:11.0  2.440175e+06    240.0
201        46867     12304  19:48.3  +28:11.0  2.440175e+06    360.0

[202 rows x 6 columns]
     exposure_id  plate_id  ra_orig  dec_orig      jd_start  exptime
0          46868     12305  19:48.3  +28:11.0  2.440175e+06    240.0
1          46869     12306  19:48.3  +28:11.0  2.440175e+06    300.0
2          46870     12307  19:48.3  +28:11.0  2.440175e+06    900.0
3          46871     12308  21:17.3  +46:06.0  2.440175e+06    300.0
4          46872     12308  21:17.3  +46:06.0  2.440175e+06    100.0
..           ...       ...      ...       ...           ...      ...
182        47190     12556  22:03.5  +42:30.0  2.440473e+06   3600.0
183        47191     12557  23:01.2  +47:30.0  2.440474e+06   3600.0
184        47192     12558  23:07.5  +52:30.0  2.440477e+06   3600.0
185        47194     12560  20:58.5  +32:30.0  2.440477e+06   3600.0
186        47195     12561  22:08.6  +62:30.0  2.440478e+06   3600.0

[187 rows x 6 columns]
     exposure_id  plate_id  ra_orig  dec_orig      jd_start  exptime
0          47196     12562  00:22.6  +67:30.0  2.440478e+06   3600.0
1          47203     12566  20:30.2  +47:30.0  2.440478e+06   3600.0
2          47204     12567  21:57.5  +57:30.0  2.440478e+06   3600.0
3          47205     12568  23:33.2  +67:30.0  2.440479e+06   3600.0
4          47206     12569  21:22.0  -07:30.0  2.440481e+06    720.0
..           ...       ...      ...       ...           ...      ...
219        47593     12820  22:43.8  +67:30.0  2.440859e+06   3600.0
220        47603     12830  20:29.5  +37:14.0  2.440898e+06    240.0
221        47604     12831  20:42.4  +34:52.0  2.440898e+06    240.0
222        47605     12832  20:29.5  +37:14.0  2.440898e+06    150.0
223        47606     12833  20:42.4  +34:52.0  2.440898e+06    150.0

[224 rows x 6 columns]
     exposure_id  plate_id  ra_orig  dec_orig      jd_start  exptime
0          47607     12834  20:29.5  +37:14.0  2.440898e+06   1200.0
1          47608     12835  20:42.4  +34:52.0  2.440898e+06   1200.0
2          47609     12836  21:19.6  +57:30.0  2.440911e+06   3600.0
3          47610     12837  23:10.1  +72:30.0  2.440912e+06   3600.0
4          47611     12838  02:42.0  +24:25.0  2.440915e+06    720.0
..           ...       ...      ...       ...           ...      ...
186        47927     13114  08:37.5  +19:52.0           NaN      NaN
187        47928     13114  08:37.5  +19:52.0           NaN      NaN
188        47929     13114  08:37.5  +19:52.0           NaN      NaN
189        47931     13116  09:53.5  +69:12.0  2.441389e+06   3000.0
190        47932     13117  07:05.7  +00:45.0  2.441390e+06   3000.0

[191 rows x 6 columns]
     exposure_id  plate_id  ra_orig  dec_orig      jd_start  exptime
0          47933     13118  05:52.6  +46:07.0  2.441390e+06    300.0
1          47934     13119  05:52.6  +46:07.0  2.441390e+06    300.0
2          47937     13122  07:05.7  +00:45.0  2.441392e+06   2400.0
3          47938     13123  21:53.0  +52:30.0  2.441395e+06    300.0
4          47939     13124  21:53.0  +52:30.0  2.441395e+06    480.0
..           ...       ...      ...       ...           ...      ...
222        48637     13420  13:03.9  +28:36.0  2.441793e+06    900.0
223        48638     13421  13:03.9  +28:36.0  2.441794e+06    960.0
224        48639     13422  13:03.9  +28:36.0  2.441794e+06    780.0
225        48640     13423  13:03.9  +28:36.0  2.441794e+06   2400.0
226        48641     13424  08:05.3  +07:34.0  2.441798e+06   1620.0

[227 rows x 6 columns]
     exposure_id  plate_id  ra_orig  dec_orig      jd_start  exptime
0          48644     13426  12:55.8  +27:47.0  2.441798e+06    900.0
1          48649     13429  06:31.2  +54:20.0  2.441800e+06    240.0
2          48650     13430  12:55.8  +27:47.0  2.441800e+06    960.0
3          48651     13431  14:26.0  +24:20.0  2.441807e+06     90.0
4          48654     13433  12:55.8  +27:47.0  2.441808e+06    960.0
..           ...       ...      ...       ...           ...      ...
172        49041     13697  23:05.0  +59:36.0  2.442302e+06   1800.0
173        49042     13698  19:53.0  +12:32.0  2.442305e+06   3600.0
174        49043     13699  20:39.9  +27:32.0  2.442305e+06   3600.0
175        49044     13700  22:01.0  +47:31.0  2.442305e+06   2460.0
176        49045     13701  00:14.7  +72:32.0  2.442306e+06   3600.0

[177 rows x 6 columns]
     exposure_id  plate_id  ra_orig  dec_orig      jd_start  exptime
0          49046     13702  22:34.0  +52:32.0  2.442306e+06   3600.0
1          49047     13703  20:50.0  +35:00.0  2.442307e+06    420.0
2          49050     13706  19:24.0  +17:31.0  2.442309e+06   3600.0
3          49054     13710  23:51.5  +57:32.0  2.442312e+06   3600.0
4          49055     13711  23:51.5  +61:00.0  2.442312e+06   3600.0
..           ...       ...      ...       ...           ...      ...
236        61192     19439                     2.432440e+06    300.0
237        61193     19440                     2.432440e+06    900.0
238        61194     19440                     2.432440e+06    900.0
239        61195     19441                     2.432440e+06    900.0
240        61196     19441                     2.432441e+06    900.0

[241 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          61197     19442                       2.432441e+06    300.0
1          61198     19442                       2.432441e+06    300.0
2          61199     19443                       2.432441e+06   1800.0
3          61200     19444                       2.432441e+06    600.0
4          61201     19444                       2.432441e+06    600.0
..           ...       ...       ...        ...           ...      ...
236        50159     24949  09:38:49  -01:34:19  2.444932e+06   1800.0
237        50161     24951  06:24:55  +56:08:20  2.444933e+06   1080.0
238        50182     24954  06:44:36  +12:24:01  2.444935e+06   4500.0
239        50183     24955  06:44:36  +12:24:01  2.444935e+06    900.0
240        50186     24956  00:42:45  -12:11:44  2.444936e+06   1500.0

[241 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          50187     24957  01:02:35  +12:59:18  2.444936e+06   3600.0
1          50193     24959  09:47:15  +11:23:33  2.444938e+06    900.0
2          50201     24960  05:59:01  +07:22:31  2.444939e+06   4500.0
3          50207     24961  03:10:09  +67:01:23  2.444940e+06    900.0
4          50208     24962  03:10:09  +67:14:03  2.444940e+06   4500.0
..           ...       ...       ...        ...           ...      ...
172        51091     25231  20:54:24  +30:21:06  2.445585e+06    300.0
173        51092     25232  20:54:24  +30:21:06  2.445585e+06    300.0
174        51093     25233  21:38:14  +14:19:08  2.445585e+06   1800.0
175        51094     25234  23:45:47  +09:25:18  2.445585e+06   1800.0
176        51095     25235  23:45:47  +09:25:18  2.445585e+06   1800.0

[177 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          51096     25236  00:59:11  -02:35:10  2.445585e+06   1800.0
1          51097     25237  01:59:09  +07:25:22  2.445585e+06   1800.0
2          51121     25260  21:54:06  +52:39:00  2.445605e+06   1500.0
3          51122     25261  23:10:36  +11:54:00  2.445605e+06    900.0
4          51123     25262  23:10:36  +11:54:00  2.445605e+06    120.0
..           ...       ...       ...        ...           ...      ...
253        51793     25510  20:51:12  +35:37:00  2.446326e+06    240.0
254        51794     25511  21:15:00  +47:26:33  2.446326e+06   1500.0
255        51799     25515  06:18:10  +13:50:00  2.446326e+06   3600.0
256        51801     25517  06:15:00  +19:39:00  2.446326e+06    300.0
257        51802     25518  19:13:36  +01:45:07  2.446327e+06    600.0

[258 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          51803     25519  20:11:18  +20:17:14  2.446327e+06   4200.0
1          51804     25520  21:15:00  +47:26:33  2.446327e+06   5100.0
2          51807     25521  06:21:00  +12:30:00  2.446327e+06   2700.0
3          51809     25523  06:15:06  +19:42:00  2.446328e+06    360.0
4          51810     25524  20:11:18  +20:17:14  2.446329e+06     90.0
..           ...       ...       ...        ...           ...      ...
254        92340     62126                       2.428452e+06      0.0
255        92341     62127                       2.428496e+06      0.0
256        92342     62128                       2.428514e+06      0.0
257        92344     62130                       2.428524e+06      0.0
258        92346     62132                       2.428524e+06      0.0

[259 rows x 6 columns]
     exposure_id  plate_id ra_orig dec_orig      jd_start  exptime
0          92351     62137                   2.428554e+06      0.0
1          92352     62138                   2.428558e+06      0.0
2          92359     62145                   2.428930e+06      0.0
3          92360     62146                   2.428934e+06      0.0
4          92397     62168                   2.429042e+06      0.0
..           ...       ...     ...      ...           ...      ...
241        92713     62424                   2.432414e+06    900.0
242        92714     62425                   2.432414e+06    900.0
243        92715     62425                   2.432414e+06    900.0
244        92718     62428                   2.432415e+06    900.0
245        92719     62428                   2.432415e+06    900.0

[246 rows x 6 columns]
     exposure_id  plate_id ra_orig dec_orig      jd_start  exptime
0          92720     62429                   2.432415e+06    900.0
1          92721     62429                   2.432415e+06    900.0
2          92722     62430                   2.432415e+06    900.0
3          92723     62430                   2.432415e+06    960.0
4          92724     62431                   2.432415e+06    900.0
..           ...       ...     ...      ...           ...      ...
377        93185     62666                   2.433221e+06    600.0
378        93186     62667                   2.433222e+06    600.0
379        93187     62667                   2.433222e+06    600.0
380        93188     62668                   2.433222e+06    600.0
381        93189     62668                   2.433222e+06    600.0

[382 rows x 6 columns]
     exposure_id  plate_id ra_orig dec_orig      jd_start  exptime
0          93190     62669                   2.433302e+06    600.0
1          93191     62669                   2.433302e+06    600.0
2          93192     62669                   2.433302e+06     60.0
3          93193     62669                   2.433302e+06     60.0
4          93194     62670                   2.433302e+06    600.0
..           ...       ...     ...      ...           ...      ...
362        94020     62942                   2.433625e+06     90.0
363        94021     62943                   2.433625e+06     90.0
364        94022     62943                   2.433625e+06     90.0
365        94023     62944                   2.433625e+06    300.0
366        94024     62945                   2.433625e+06    300.0

[367 rows x 6 columns]
     exposure_id  plate_id ra_orig dec_orig      jd_start  exptime
0          94025     62946                   2.433625e+06    300.0
1          94026     62947                   2.433625e+06    300.0
2          94027     62948                   2.433625e+06    180.0
3          94028     62948                   2.433625e+06    180.0

In [15]:
# Initialize an empty DataFrame to store the combined results
combined_df = pd.DataFrame()

# Combine the query results into a single DataFrame
for result in query_results:
    df_result = result.to_table().to_pandas()
    combined_df = pd.concat([combined_df, df_result], ignore_index=True)

# Save the combined DataFrame as a CSV file named 'plate_tls.csv'
combined_df.to_csv('plate_hs.csv', index=False)

In [16]:
import pandas as pd

# Read the CSV files into DataFrames
df1 = pd.read_csv('plate_hs.csv')
df2 = pd.read_csv('Hamburger_Sternwarte.csv')

# Merge the DataFrames on 'plate_id'
merged_df = pd.merge(df2, df1[['plate_id', 'ra_orig', 'dec_orig']], on='plate_id')

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('HS_plate_pos.csv', index=False)

print("Merged file saved as 'HS_plate_pos.csv'")

Merged file saved as 'HS_plate_pos.csv'

In [18]:
import pandas as pd
from datetime import datetime, timedelta

# Function to filter plates taken within a one-year period and have different filters
def filter_plates_within_year(df):
    filtered_plates = []
    for i in range(len(df)):
        for j in range(i+1, len(df)):
            date_i = datetime.strptime(df.iloc[i]['date_orig'], '%Y-%m-%d')
            date_j = datetime.strptime(df.iloc[j]['date_orig'], '%Y-%m-%d')
            delta = date_j - date_i
            if abs(delta.days) <= 124 and df.iloc[i]['filter'] != df.iloc[j]['filter']:
                filtered_plates.append(df.iloc[i])
                filtered_plates.append(df.iloc[j])
    return pd.DataFrame(filtered_plates)

# Read the CSV file
filename = "HS_plate_pos.csv"
# filename = "TLS_plate_pos.csv"
# filename = "Vatican_Observatory.csv"
# filename = "Dr._Remeis-Observatory.csv"
df = pd.read_csv(filename)

# Sort by date_orig
df_sorted = df.sort_values(by='date_orig')

# Filter plates within one-year period with different filters
filtered_df = filter_plates_within_year(df_sorted)

# Save filtered DataFrame to CSV
filtered_df.to_csv("HS.csv", index=False)

In [2]:
import requests
import pyvo as vo
import json
import numpy as np
import pandas as pd

# Define the parameters
name = 'APPLAUSE'
url = 'https://www.plate-archive.org/tap'
token = 'Token 863d6c56ca291ffc99090f6b2cefb35f496ca8e4'

# Read the CSV file and select the column with the plate_id
df = pd.read_csv('Astrophysikalische_Observatorium_Potsdam.csv')
plate_ids = df['plate_id'].tolist()

# Function to chunk the list into groups of specified size
def chunk_list(data_list, chunk_size):
    for i in range(0, len(data_list), chunk_size):
        yield data_list[i:i + chunk_size]

# Function to process each chunk
def process_chunk(chunk):
    # Format the plate_id list for the SQL query
    ids_str = ', '.join(f"'{id}'" for id in chunk)
    
    # Create the query string
    qstr = f"""
    SELECT exposure_id, plate_id, ra_orig, dec_orig, jd_start, exptime
    FROM applause_dr4.exposure
    WHERE plate_id IN ({ids_str})
    """
    
    # Setup the TAP service session
    tap_session = requests.Session()
    tap_session.headers['Authorization'] = token
    tap_service = vo.dal.TAPService(url, session=tap_session)
    
    # Submit the query
    lang = 'PostgreSQL'
    job = tap_service.submit_job(qstr, language=lang)
    job.run()
    
    # Wait for job completion
    job.wait(phases=["COMPLETED", "ERROR", "ABORTED"], timeout=30.)
    
    # Raise an error if the job failed
    job.raise_if_error()
    
    # Fetch results
    return job.fetch_result()

# Print pyvo version and TAP service name
print('\npyvo version %s \n' % vo.__version__)
print('TAP service %s \n' % name)

# Initialize the result list
query_results = []

# Process each chunk
for chunk in chunk_list(plate_ids, 170):
    results = process_chunk(chunk)
    query_results.append(results)

# Print the final query results as DataFrame
for result in query_results:
    df_result = result.to_table().to_pandas()
    print(df_result)

pyvo version 1.5.2

TAP service APPLAUSE

     exposure_id  plate_id ra_orig dec_orig      jd_start  exptime
0          77676     24193                   2.427449e+06   1200.0
1          77677     24193                   2.427449e+06    600.0
2          77678     24194                   2.427449e+06   3600.0
3          77679     24195                   2.427449e+06    600.0
4          77680     24195                   2.427449e+06    240.0
..           ...       ...     ...      ...           ...      ...
364        78049     24360                   2.427721e+06   7200.0
365        78050     24361                   2.427733e+06   1800.0
366        78051     24362                   2.427733e+06    360.0
367        78052     24363                   2.427733e+06   2100.0
368        78053     24364                   2.427733e+06    180.0

[369 rows x 6 columns]
     exposure_id  plate_id ra_orig dec_orig      jd_start  exptime
0          78054     24365                   2.427733e+06    660.0
1          78055     24366                   2.427733e+06   1200.0
2          78056     24367                   2.427745e+06   6300.0
3          78057     24368                   2.427745e+06   3600.0
4          78058     24369                   2.427745e+06   3000.0
..           ...       ...     ...      ...           ...      ...
545        78625     24543                   2.428306e+06     45.0
546        78626     24543                   2.428306e+06     70.0
547        78627     24544                   2.428307e+06     60.0
548        78628     24544                   2.428306e+06     80.0
549        78629     24544                   2.428306e+06    100.0

[550 rows x 6 columns]
     exposure_id  plate_id ra_orig dec_orig      jd_start  exptime
0          78630     24545                   2.428308e+06     45.0
1          78631     24545                   2.428308e+06     67.0
2          78632     24545                   2.428308e+06     55.0
3          78633     24545                   2.428308e+06     80.0
4          78634     24546                   2.428308e+06     60.0
..           ...       ...     ...      ...           ...      ...
637        82175     67146                            NaN     10.0
638        82176     67146                            NaN     10.0
639        82177     67146                            NaN     10.0
640        82178     67146                            NaN     10.0
641        82179     67146                            NaN     10.0

[642 rows x 6 columns]

In [3]:
# Initialize an empty DataFrame to store the combined results
combined_df = pd.DataFrame()

# Combine the query results into a single DataFrame
for result in query_results:
    df_result = result.to_table().to_pandas()
    combined_df = pd.concat([combined_df, df_result], ignore_index=True)

# Save the combined DataFrame as a CSV file named 'plate_tls.csv'
combined_df.to_csv('plate_aop.csv', index=False)

In [4]:
import pandas as pd

# Read the CSV files into DataFrames
df1 = pd.read_csv('plate_aop.csv')
df2 = pd.read_csv('Astrophysikalische_Observatorium_Potsdam.csv')

# Merge the DataFrames on 'plate_id'
merged_df = pd.merge(df2, df1[['plate_id', 'ra_orig', 'dec_orig']], on='plate_id')

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('AOP_plate_pos.csv', index=False)

print("Merged file saved as 'AOP_plate_pos.csv'")

Merged file saved as 'AOP_plate_pos.csv'

In [5]:
import pandas as pd
from datetime import datetime, timedelta

# Function to filter plates taken within a one-year period and have different filters
def filter_plates_within_year(df):
    filtered_plates = []
    for i in range(len(df)):
        for j in range(i+1, len(df)):
            date_i = datetime.strptime(df.iloc[i]['date_orig'], '%Y-%m-%d')
            date_j = datetime.strptime(df.iloc[j]['date_orig'], '%Y-%m-%d')
            delta = date_j - date_i
            if abs(delta.days) <= 124 and df.iloc[i]['filter'] != df.iloc[j]['filter']:
                filtered_plates.append(df.iloc[i])
                filtered_plates.append(df.iloc[j])
    return pd.DataFrame(filtered_plates)

# Read the CSV file
filename = "AOP_plate_pos.csv"
# filename = "HS_plate_pos.csv"
# filename = "TLS_plate_pos.csv"
# filename = "Vatican_Observatory.csv"
# filename = "Dr._Remeis-Observatory.csv"
df = pd.read_csv(filename)

# Sort by date_orig
df_sorted = df.sort_values(by='date_orig')

# Filter plates within one-year period with different filters
filtered_df = filter_plates_within_year(df_sorted)

# Save filtered DataFrame to CSV
filtered_df.to_csv("AOP.csv", index=False)

In [7]:
import requests
import pyvo as vo
import json
import numpy as np
import pandas as pd

# Define the parameters
name = 'APPLAUSE'
url = 'https://www.plate-archive.org/tap'
token = 'Token 863d6c56ca291ffc99090f6b2cefb35f496ca8e4'

# Read the CSV file and select the column with the plate_id
df = pd.read_csv('European_Southern_Observatory.csv')
plate_ids = df['plate_id'].tolist()

# Function to chunk the list into groups of specified size
def chunk_list(data_list, chunk_size):
    for i in range(0, len(data_list), chunk_size):
        yield data_list[i:i + chunk_size]

# Function to process each chunk
def process_chunk(chunk):
    # Format the plate_id list for the SQL query
    ids_str = ', '.join(f"'{id}'" for id in chunk)
    
    # Create the query string
    qstr = f"""
    SELECT exposure_id, plate_id, ra_orig, dec_orig, jd_start, exptime
    FROM applause_dr4.exposure
    WHERE plate_id IN ({ids_str})
    """
    
    # Setup the TAP service session
    tap_session = requests.Session()
    tap_session.headers['Authorization'] = token
    tap_service = vo.dal.TAPService(url, session=tap_session)
    
    # Submit the query
    lang = 'PostgreSQL'
    job = tap_service.submit_job(qstr, language=lang)
    job.run()
    
    # Wait for job completion
    job.wait(phases=["COMPLETED", "ERROR", "ABORTED"], timeout=30.)
    
    # Raise an error if the job failed
    job.raise_if_error()
    
    # Fetch results
    return job.fetch_result()

# Print pyvo version and TAP service name
print('\npyvo version %s \n' % vo.__version__)
print('TAP service %s \n' % name)

# Initialize the result list
query_results = []

# Process each chunk
for chunk in chunk_list(plate_ids, 170):
    results = process_chunk(chunk)
    query_results.append(results)

# Print the final query results as DataFrame
for result in query_results:
    df_result = result.to_table().to_pandas()
    print(df_result)

pyvo version 1.5.2

TAP service APPLAUSE

     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          95168     63651  17:37:00  -35:00:00  2.443005e+06   3600.0
1          95169     63652  17:37:00  -35:00:00  2.443006e+06   1200.0
2          95216     63653  17:39:40  -32:30:40  2.443036e+06   3600.0
3          95217     63654  17:39:40  -32:30:40  2.443037e+06   1200.0
4          95173     63655  17:36:12  -37:50:36  2.443007e+06   7200.0
..           ...       ...       ...        ...           ...      ...
165        96761     63908  07:27:59  -01:05:58  2.448272e+06   2400.0
166        96762     63909  07:27:59  -01:06:13  2.448273e+06   2400.0
167        96763     63910  08:08:18  -07:52:41  2.448275e+06   2400.0
168        96764     63911  08:08:18  -07:52:41  2.448275e+06   2400.0
169        96765     63912  07:27:58  -01:07:08  2.448276e+06   2400.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          96766     63913  08:08:18  -07:52:33  2.448276e+06   2400.0
1          96767     63914  10:48:04  -19:12:39  2.448276e+06   2400.0
2          96768     63915  07:27:59  -01:06:56  2.448277e+06   2400.0
3          96769     63916  10:48:03  -19:12:44  2.448277e+06   2400.0
4          96770     63917  10:48:03  -19:12:44  2.448277e+06   2400.0
..           ...       ...       ...        ...           ...      ...
165        97034     64180  11:50:23  -00:30:54  2.448660e+06   2400.0
166        97035     64181  13:05:33  -10:33:11  2.448660e+06   2400.0
167        97036     64182  13:05:32  -10:32:58  2.448661e+06   2400.0
168        97038     64184  07:38:18  +17:45:31  2.448679e+06   2400.0
169        97039     64185  13:57:15  -15:33.17  2.448687e+06   2400.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          97040     64216  15:06:57  -16:57:00  2.448687e+06   2400.0
1          97041     64217  13:57:15  -15:32:58  2.448688e+06   2400.0
2          97042     64218  16:06:57  -16:56:45  2.448688e+06   2400.0
3          97043     64219  12:56:01  -05:38:22  2.448691e+06   2400.0
4          97044     64220  13:57:15  -15:33:18  2.448691e+06   2400.0
..           ...       ...       ...        ...           ...      ...
165        95544     75299  10:55:16  -60:19:48  2.443218e+06     60.0
166        95545     75300  09:15:16  -36:32:00  2.443220e+06    600.0
167        95546     75301  09:15:16  -36:32:00  2.443220e+06   2400.0
168        95547     75302                       2.443274e+06    600.0
169        95548     75303                       2.443276e+06    600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig   jd_start  exptime
0          95549     75304  17:12:09  -37:04:54  2443276.0    900.0
1          95550     75305  17:04:21  -10:06:24  2443280.0   2400.0
2          95551     75306  17:04:24  -10:06:24  2443282.0     60.0
3          95552     75307  17:12:13  -37:04:24  2443308.0   1200.0
4          95636     75388  10:55:17  -60:19:36        NaN      3.0
..           ...       ...       ...        ...        ...      ...
375        96138     75629  12:43:42  -54:25:16  2444726.0     30.0
376        96139     75629  12:43:42  -54:25:16        NaN     20.0
377        96140     75629  12:43:42  -54:25:16        NaN     15.0
378        96141     75629  12:43:42  -54:25:16        NaN     10.0
379        96142     75629  12:43:42  -54:25:16        NaN      5.0

[380 rows x 6 columns]
    exposure_id  plate_id   ra_orig   dec_orig   jd_start  exptime
0         96143     75630  15:54:22  -66:04:48  2444726.0      NaN
1         96144     75630  15:54:22  -66:04:48        NaN      NaN
2         96145     75630  15:54:22  -66:04:48        NaN      NaN
3         96146     75630  15:54:22  -66:04:48        NaN      NaN
4         96147     75630  15:54:22  -66:04:48        NaN      NaN
5         96148     75631  16:15:47  -51:55:20  2444726.0    120.0
6         96149     75632  16:15:47  -51:55:20  2444726.0    360.0
7         96150     75633  16:15:47  -51:55:20  2444726.0    240.0
8         96151     75633  16:15:47  -51:55:20        NaN    120.0
9         96152     75633  16:15:47  -51:55:20        NaN     60.0
10        96153     75634  16:15:47  -51:55:20  2444726.0    900.0
11        96154     75635  17:37:50  -28:55:30  2444726.0   3600.0
12        96155     75636  17:04:36  -10:07:01  2444726.0   1500.0
13        96156     75637  19:17:24  +01:44:44  2444726.0   7200.0
14        96157     75638  20:41:29  +19:05:36  2444726.0     60.0
15        96158     75638  20:41:29  +19:05:36        NaN     40.0
16        96159     75638  20:41:29  +19:05:36        NaN     30.0
17        96160     75638  20:41:29  +19:05:36        NaN     20.0
18        96161     75639  20:41:29  +19:05:33  2444726.0    360.0
19        96162     75639  20:41:29  +19:05:33        NaN    180.0
20        96163     75640  20:41:28  +19:05:28  2444726.0     60.0
21        96164     75640  20:41:28  +19:05:28        NaN     40.0
22        96165     75640  20:41:28  +19:05:28        NaN     30.0
23        96166     75640  20:41:28  +19:05:28        NaN     20.0
24        96190     75646                       2444730.0    600.0
25        96194     75648                       2444732.0    600.0
26        96265     75652                       2445352.0    600.0
27        96266     75653                       2445352.0    300.0
28        96286     75661                       2445352.0    600.0
29        96287     75662                       2445352.0    300.0
30        96319     75671                       2445354.0    600.0
31        96320     75672                       2445354.0    300.0
32        96338     75679                       2445356.0    600.0
33        96339     75680                       2445356.0    300.0

In [8]:
# Initialize an empty DataFrame to store the combined results
combined_df = pd.DataFrame()

# Combine the query results into a single DataFrame
for result in query_results:
    df_result = result.to_table().to_pandas()
    combined_df = pd.concat([combined_df, df_result], ignore_index=True)

# Save the combined DataFrame as a CSV file named 'plate_tls.csv'
combined_df.to_csv('plate_eso.csv', index=False)

In [9]:
import pandas as pd

# Read the CSV files into DataFrames
df1 = pd.read_csv('plate_eso.csv')
df2 = pd.read_csv('European_Southern_Observatory.csv')

# Merge the DataFrames on 'plate_id'
merged_df = pd.merge(df2, df1[['plate_id', 'ra_orig', 'dec_orig']], on='plate_id')

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('ESO_plate_pos.csv', index=False)

print("Merged file saved as 'ESO_plate_pos.csv'")

Merged file saved as 'ESO_plate_pos.csv'

In [10]:
import pandas as pd
from datetime import datetime, timedelta

# Function to filter plates taken within a one-year period and have different filters
def filter_plates_within_year(df):
    filtered_plates = []
    for i in range(len(df)):
        for j in range(i+1, len(df)):
            date_i = datetime.strptime(df.iloc[i]['date_orig'], '%Y-%m-%d')
            date_j = datetime.strptime(df.iloc[j]['date_orig'], '%Y-%m-%d')
            delta = date_j - date_i
            if abs(delta.days) <= 124 and df.iloc[i]['filter'] != df.iloc[j]['filter']:
                filtered_plates.append(df.iloc[i])
                filtered_plates.append(df.iloc[j])
    return pd.DataFrame(filtered_plates)

# Read the CSV file
filename = "ESO_plate_pos.csv"
# filename = "AOP_plate_pos.csv"
# filename = "HS_plate_pos.csv"
# filename = "TLS_plate_pos.csv"
# filename = "Vatican_Observatory.csv"
# filename = "Dr._Remeis-Observatory.csv"
df = pd.read_csv(filename)

# Sort by date_orig
df_sorted = df.sort_values(by='date_orig')

# Filter plates within one-year period with different filters
filtered_df = filter_plates_within_year(df_sorted)

# Save filtered DataFrame to CSV
filtered_df.to_csv("ESO.csv", index=False)

In [12]:
import requests
import pyvo as vo
import json
import numpy as np
import pandas as pd

# Define the parameters
name = 'APPLAUSE'
url = 'https://www.plate-archive.org/tap'
token = 'Token 863d6c56ca291ffc99090f6b2cefb35f496ca8e4'

# Read the CSV file and select the column with the plate_id
df = pd.read_csv('Dr._Remeis-Observatory.csv')
plate_ids = df['plate_id'].tolist()

# Function to chunk the list into groups of specified size
def chunk_list(data_list, chunk_size):
    for i in range(0, len(data_list), chunk_size):
        yield data_list[i:i + chunk_size]

# Function to process each chunk
def process_chunk(chunk):
    # Format the plate_id list for the SQL query
    ids_str = ', '.join(f"'{id}'" for id in chunk)
    
    # Create the query string
    qstr = f"""
    SELECT exposure_id, plate_id, ra_orig, dec_orig, jd_start, exptime
    FROM applause_dr4.exposure
    WHERE plate_id IN ({ids_str})
    """
    
    # Setup the TAP service session
    tap_session = requests.Session()
    tap_session.headers['Authorization'] = token
    tap_service = vo.dal.TAPService(url, session=tap_session)
    
    # Submit the query
    lang = 'PostgreSQL'
    job = tap_service.submit_job(qstr, language=lang)
    job.run()
    
    # Wait for job completion
    job.wait(phases=["COMPLETED", "ERROR", "ABORTED"], timeout=30.)
    
    # Raise an error if the job failed
    job.raise_if_error()
    
    # Fetch results
    return job.fetch_result()

# Print pyvo version and TAP service name
print('\npyvo version %s \n' % vo.__version__)
print('TAP service %s \n' % name)

# Initialize the result list
query_results = []

# Process each chunk
for chunk in chunk_list(plate_ids, 170):
    results = process_chunk(chunk)
    query_results.append(results)

# Print the final query results as DataFrame
for result in query_results:
    df_result = result.to_table().to_pandas()
    print(df_result)

pyvo version 1.5.2

TAP service APPLAUSE

    exposure_id  plate_id ra_orig dec_orig      jd_start  exptime
0        119679     77005                   2.434913e+06    600.0
1        119681     77007                   2.434914e+06    600.0
2        119683     77009                   2.434914e+06    900.0
3        119685     77011                   2.434914e+06    600.0
4        119687     77013                   2.434918e+06    600.0
5        119689     77015                   2.434918e+06    420.0
6        119691     77017                   2.434918e+06    600.0
7        119693     77019                   2.434922e+06    600.0
8        119695     77021                   2.434922e+06    900.0
9        119697     77023                   2.434922e+06    600.0
10       119703     77029                   2.434929e+06    600.0
11       119705     77031                   2.434929e+06    600.0
12       119707     77033                   2.434929e+06    300.0

In [13]:
# Initialize an empty DataFrame to store the combined results
combined_df = pd.DataFrame()

# Combine the query results into a single DataFrame
for result in query_results:
    df_result = result.to_table().to_pandas()
    combined_df = pd.concat([combined_df, df_result], ignore_index=True)

# Save the combined DataFrame as a CSV file named 'plate_tls.csv'
combined_df.to_csv('plate_dro.csv', index=False)

In [16]:
import pandas as pd

# Read the CSV files into DataFrames
df1 = pd.read_csv('plate_dro.csv')
df2 = pd.read_csv('Dr._Remeis-Observatory.csv')

# Merge the DataFrames on 'plate_id'
merged_df = pd.merge(df2, df1[['plate_id', 'ra_orig', 'dec_orig']], on='plate_id')

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('DRO_plate_pos.csv', index=False)

print("Merged file saved as 'DRO_plate_pos.csv'")

Merged file saved as 'DRO_plate_pos.csv'

In [17]:
import pandas as pd
from datetime import datetime, timedelta

# Function to filter plates taken within a one-year period and have different filters
def filter_plates_within_year(df):
    filtered_plates = []
    for i in range(len(df)):
        for j in range(i+1, len(df)):
            date_i = datetime.strptime(df.iloc[i]['date_orig'], '%Y-%m-%d')
            date_j = datetime.strptime(df.iloc[j]['date_orig'], '%Y-%m-%d')
            delta = date_j - date_i
            if abs(delta.days) <= 124 and df.iloc[i]['filter'] != df.iloc[j]['filter']:
                filtered_plates.append(df.iloc[i])
                filtered_plates.append(df.iloc[j])
    return pd.DataFrame(filtered_plates)

# Read the CSV file
filename = "DRO_plate_pos.csv"
# filename = "ESO_plate_pos.csv"
# filename = "AOP_plate_pos.csv"
# filename = "HS_plate_pos.csv"
# filename = "TLS_plate_pos.csv"
# filename = "Vatican_Observatory.csv"
# filename = "Dr._Remeis-Observatory.csv"
df = pd.read_csv(filename)

# Sort by date_orig
df_sorted = df.sort_values(by='date_orig')

# Filter plates within one-year period with different filters
filtered_df = filter_plates_within_year(df_sorted)

# Save filtered DataFrame to CSV
filtered_df.to_csv("DRO.csv", index=False)

In [19]:
import requests
import pyvo as vo
import json
import numpy as np
import pandas as pd

# Define the parameters
name = 'APPLAUSE'
url = 'https://www.plate-archive.org/tap'
token = 'Token 863d6c56ca291ffc99090f6b2cefb35f496ca8e4'

# Read the CSV file and select the column with the plate_id
df = pd.read_csv('Dr._Remeis-Observatory,_Southern_Station.csv')
plate_ids = df['plate_id'].tolist()

# Function to chunk the list into groups of specified size
def chunk_list(data_list, chunk_size):
    for i in range(0, len(data_list), chunk_size):
        yield data_list[i:i + chunk_size]

# Function to process each chunk
def process_chunk(chunk):
    # Format the plate_id list for the SQL query
    ids_str = ', '.join(f"'{id}'" for id in chunk)
    
    # Create the query string
    qstr = f"""
    SELECT exposure_id, plate_id, ra_orig, dec_orig, jd_start, exptime
    FROM applause_dr4.exposure
    WHERE plate_id IN ({ids_str})
    """
    
    # Setup the TAP service session
    tap_session = requests.Session()
    tap_session.headers['Authorization'] = token
    tap_service = vo.dal.TAPService(url, session=tap_session)
    
    # Submit the query
    lang = 'PostgreSQL'
    job = tap_service.submit_job(qstr, language=lang)
    job.run()
    
    # Wait for job completion
    job.wait(phases=["COMPLETED", "ERROR", "ABORTED"], timeout=30.)
    
    # Raise an error if the job failed
    job.raise_if_error()
    
    # Fetch results
    return job.fetch_result()

# Print pyvo version and TAP service name
print('\npyvo version %s \n' % vo.__version__)
print('TAP service %s \n' % name)

# Initialize the result list
query_results = []

# Process each chunk
for chunk in chunk_list(plate_ids, 170):
    results = process_chunk(chunk)
    query_results.append(results)

# Print the final query results as DataFrame
for result in query_results:
    df_result = result.to_table().to_pandas()
    print(df_result)

pyvo version 1.5.2

TAP service APPLAUSE

     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          28140     40155  12:00:00  -77:00:00  2.439650e+06   3600.0
1          28141     40156  12:00:00  -64:00:00  2.439650e+06   3600.0
2          28142     40157  12:00:00  -51:00:00  2.439650e+06   3600.0
3          28143     40158  12:00:00  -38:00:00  2.439650e+06   3600.0
4          28144     40159  13:00:00  -77:00:00  2.439650e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        28307     40320  20:00:00  -38:00:00  2.439678e+06   3600.0
166        28308     40321  20:00:00  -77:00:00  2.439678e+06   3600.0
167        28310     40322  23:00:00  -51:00:00  2.439678e+06   3600.0
168        28311     40323  23:00:00  -38:00:00  2.439678e+06   3600.0
169        28312     40324  23:00:00  -77:00:00  2.439678e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          28313     40325  23:00:00  -64:00:00  2.439678e+06   3600.0
1          28314     40326  00:00:00  -38:00:00  2.439678e+06   3600.0
2          28315     40327  00:00:00  -77:00:00  2.439678e+06   3600.0
3          28316     40328  00:00:00  -64:00:00  2.439678e+06   3600.0
4          28317     40329  14:00:00  -51:00:00  2.439679e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        28482     40490  17:00:00  -38:00:00  2.439703e+06   3600.0
166        28483     40491  17:00:00  -74:00:00  2.439703e+06   3600.0
167        28484     40492  17:00:00  -61:00:00  2.439703e+06   3600.0
168        28485     40493  18:00:00  -51:00:00  2.439703e+06   3600.0
169        28486     40494  18:00:00  -38:00:00  2.439703e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          28487     40495  18:00:00  -74:00:00  2.439703e+06   3600.0
1          28488     40496  18:00:00  -61:00:00  2.439703e+06   3600.0
2          28489     40497  20:00:00  -51:00:00  2.439703e+06   3600.0
3          28490     40498  20:00:00  -38:00:00  2.439703e+06   3600.0
4          28491     40499  20:00:00  -74:00:00  2.439703e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        28660     40660  06:00:00  -64:00:00  2.439854e+06   3600.0
166        28661     40661  07:00:00  -51:00:00  2.439862e+06   3600.0
167        28662     40662  07:00:00  -38:00:00  2.439862e+06   3600.0
168        28663     40663  07:00:00  -77:00:00  2.439862e+06   3600.0
169        28664     40664  07:00:00  -64:00:00  2.439862e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          28665     40665  09:00:00  -51:00:00  2.439862e+06   3600.0
1          28666     40666  09:00:00  -38:00:00  2.439862e+06   3600.0
2          28667     40667  09:00:00  -77:00:00  2.439862e+06   3600.0
3          28668     40668  09:00:00  -64:00:00  2.439862e+06   3600.0
4          28669     40669  09:00:00  -51:00:00  2.439880e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        28831     40830  13:00:00  -77:00:00  2.439972e+06   3600.0
166        28832     40831  13:00:00  -64:00:00  2.439972e+06   3600.0
167        28833     40832  14:00:00  -51:00:00  2.439972e+06   3600.0
168        28834     40833  14:00:00  -38:00:00  2.439972e+06   3600.0
169        28835     40834  14:00:00  -77:00:00  2.439972e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          28836     40835  14:00:00  -64:00:00  2.439972e+06   3600.0
1          28837     40836  17:00:00  -51:00:00  2.439972e+06   3600.0
2          28838     40837  17:00:00  -38:00:00  2.439972e+06   3600.0
3          28839     40838  17:00:00  -77:00:00  2.439972e+06   3600.0
4          28840     40839  17:00:00  -64:00:00  2.439972e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        29003     41000  16:00:00  -77:00:00  2.440003e+06   3600.0
166        29004     41001  16:00:00  -64:00:00  2.440003e+06   3600.0
167        29005     41002  17:00:00  -51:00:00  2.440003e+06   3600.0
168        29006     41003  17:00:00  -38:00:00  2.440003e+06   3600.0
169        29007     41004  17:00:00  -77:00:00  2.440003e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          29008     41005  17:00:00  -64:00:00  2.440003e+06   3600.0
1          29009     41006  15:00:00  -51:00:00  2.440010e+06   3600.0
2          29010     41007  15:00:00  -38:00:00  2.440010e+06   3600.0
3          29011     41008  15:00:00  -77:00:00  2.440010e+06   3600.0
4          29012     41009  15:00:00  -64:00:00  2.440010e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        29173     41170  16:00:00  -51:00:00  2.440064e+06   3600.0
166        29174     41171  16:00:00  -38:00:00  2.440064e+06   3600.0
167        29175     41172  16:00:00  -77:00:00  2.440064e+06   3600.0
168        29176     41173  16:00:00  -64:00:00  2.440064e+06   3600.0
169        29177     41174  17:00:00  -51:00:00  2.440064e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          29178     41175  17:00:00  -38:00:00  2.440064e+06   3600.0
1          29179     41176  17:00:00  -77:00:00  2.440064e+06   3600.0
2          29180     41177  17:00:00  -64:00:00  2.440064e+06   3600.0
3          29181     41178  18:00:00  -51:00:00  2.440064e+06   3600.0
4          29182     41179  18:00:00  -38:00:00  2.440064e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        29344     41340  20:00:00  -64:00:00  2.440096e+06   3600.0
166        29345     41341  21:00:00  -51:00:00  2.440096e+06   3600.0
167        29346     41342  21:00:00  -38:00:00  2.440096e+06   3600.0
168        29347     41343  21:00:00  -77:00:00  2.440096e+06   3600.0
169        29348     41344  21:00:00  -64:00:00  2.440096e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          29349     41345  22:00:00  -51:00:00  2.440096e+06   3600.0
1          29350     41346  22:00:00  -38:00:00  2.440096e+06   3600.0
2          29351     41347  22:00:00  -77:00:00  2.440096e+06   3600.0
3          29352     41348  22:00:00  -64:00:00  2.440096e+06   3600.0
4          29353     41349  23:00:00  -51:00:00  2.440096e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        29519     41512  12:00:00  -77:00:00  2.440298e+06   3600.0
166        29520     41513  12:00:00  -64:00:00  2.440298e+06   3600.0
167        29521     41514  13:00:00  -51:00:00  2.440298e+06   3600.0
168        29522     41515  13:00:00  -38:00:00  2.440298e+06   3600.0
169        29523     41516  13:00:00  -77:00:00  2.440298e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          29524     41517  13:00:00  -64:00:00  2.440298e+06   3600.0
1          29525     41518  14:00:00  -51:00:00  2.440298e+06   3600.0
2          29526     41519  14:00:00  -38:00:00  2.440298e+06   3600.0
3          29527     41520  14:00:00  -77:00:00  2.440298e+06   3600.0
4          29528     41521  14:00:00  -64:00:00  2.440298e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        29691     41683  12:00:00  -77:00:00  2.440356e+06   3600.0
166        29692     41684  12:00:00  -64:00:00  2.440356e+06   3600.0
167        29693     41685  13:00:00  -51:00:00  2.440356e+06   3600.0
168        29694     41686  13:00:00  -38:00:00  2.440356e+06   3600.0
169        29695     41687  13:00:00  -77:00:00  2.440356e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          29696     41688  13:00:00  -64:00:00  2.440356e+06   3600.0
1          29697     41689  15:00:00  -51:00:00  2.440356e+06   3600.0
2          29698     41690  15:00:00  -38:00:00  2.440356e+06   3600.0
3          29699     41691  15:00:00  -77:00:00  2.440356e+06   3600.0
4          29700     41692  15:00:00  -64:00:00  2.440356e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        29863     41853  18:00:00  -77:00:00  2.440394e+06   3600.0
166        29864     41854  18:00:00  -64:00:00  2.440394e+06   3600.0
167        29865     41855  19:00:00  -51:00:00  2.440394e+06   3600.0
168        29866     41856  19:00:00  -38:00:00  2.440394e+06   3600.0
169        29867     41857  19:00:00  -77:00:00  2.440394e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          29868     41858  19:00:00  -64:00:00  2.440394e+06   3600.0
1          29869     41859  20:00:00  -51:00:00  2.440394e+06   3600.0
2          29870     41860  20:00:00  -38:00:00  2.440394e+06   3600.0
3          29871     41861  20:00:00  -77:00:00  2.440394e+06   3600.0
4          29872     41862  20:00:00  -64:00:00  2.440394e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        30033     42023  16:00:00  -51:00:00  2.440440e+06   3600.0
166        30034     42024  16:00:00  -38:00:00  2.440440e+06   3600.0
167        30035     42025  16:00:00  -77:00:00  2.440440e+06   3600.0
168        30036     42026  16:00:00  -64:00:00  2.440440e+06   3600.0
169        30037     42027  17:00:00  -51:00:00  2.440440e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          30038     42028  17:00:00  -38:00:00  2.440440e+06   3600.0
1          30039     42029  17:00:00  -77:00:00  2.440440e+06   3600.0
2          30040     42030  17:00:00  -64:00:00  2.440440e+06   3600.0
3          30041     42031  18:00:00  -51:00:00  2.440440e+06   3600.0
4          30042     42032  18:00:00  -38:00:00  2.440440e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        30203     42193  02:00:00  -77:00:00  2.440527e+06   3600.0
166        30204     42194  02:00:00  -64:00:00  2.440527e+06   3600.0
167        30205     42195  03:00:00  -51:00:00  2.440527e+06   3600.0
168        30206     42196  03:00:00  -38:00:00  2.440527e+06   3600.0
169        30208     42197  03:00:00  -64:00:00  2.440527e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          30209     42198  01:00:00  -51:00:00  2.440528e+06   3600.0
1          30210     42199  01:00:00  -38:00:00  2.440528e+06   3600.0
2          30211     42200  01:00:00  -77:00:00  2.440528e+06   3600.0
3          30212     42201  01:00:00  -64:00:00  2.440528e+06   3600.0
4          30213     42202  02:00:00  -51:00:00  2.440528e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        30380     42363  12:00:00  -64:00:00  2.440633e+06   3600.0
166        30381     42364  11:00:00  -51:00:00  2.440634e+06   3600.0
167        30382     42365  11:00:00  -38:00:00  2.440634e+06   3600.0
168        30383     42366  11:00:00  -77:00:00  2.440634e+06   3600.0
169        30384     42367  11:00:00  -64:00:00  2.440634e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          30385     42368  12:00:00  -51:00:00  2.440634e+06   3600.0
1          30386     42369  12:00:00  -38:00:00  2.440634e+06   3600.0
2          30387     42370  12:00:00  -77:00:00  2.440634e+06   3600.0
3          30388     42371  12:00:00  -64:00:00  2.440634e+06   3600.0
4          30389     42372  13:00:00  -51:00:00  2.440634e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        30552     42533  16:00:00  -64:00:00  2.440720e+06   3600.0
166        30553     42534  17:00:00  -51:00:00  2.440720e+06   3600.0
167        30554     42535  17:00:00  -38:00:00  2.440720e+06   3600.0
168        30555     42536  17:00:00  -77:00:00  2.440720e+06   3600.0
169        30556     42537  17:00:00  -64:00:00  2.440720e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          30557     42538  17:00:00  -51:00:00  2.440721e+06   3600.0
1          30558     42539  17:00:00  -38:00:00  2.440721e+06   3600.0
2          30559     42540  17:00:00  -77:00:00  2.440721e+06   3600.0
3          30560     42541  17:00:00  -64:00:00  2.440721e+06   3600.0
4          30561     42542  18:00:00  -51:00:00  2.440721e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        30722     42703  19:00:00  -38:00:00  2.440746e+06   3600.0
166        30723     42704  19:00:00  -77:00:00  2.440746e+06   3600.0
167        30724     42705  19:00:00  -64:00:00  2.440746e+06   3600.0
168        30725     42706  20:00:00  -51:00:00  2.440746e+06   3600.0
169        30726     42707  20:00:00  -38:00:00  2.440746e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          30727     42708  20:00:00  -77:00:00  2.440746e+06   3600.0
1          30728     42709  20:00:00  -64:00:00  2.440746e+06   3600.0
2          30729     42710  21:00:00  -51:00:00  2.440746e+06   3600.0
3          30730     42711  21:00:00  -38:00:00  2.440746e+06   3600.0
4          30731     42712  21:00:00  -77:00:00  2.440746e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        30892     42873  23:00:00  -64:00:00  2.440795e+06   3600.0
166        30893     42874  22:00:00  -51:00:00  2.440808e+06   3600.0
167        30894     42875  22:00:00  -38:00:00  2.440808e+06   3600.0
168        30895     42876  22:00:00  -77:00:00  2.440808e+06   3600.0
169        30896     42877  22:00:00  -64:00:00  2.440808e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          30897     42878  23:00:00  -51:00:00  2.440808e+06   3600.0
1          30898     42879  23:00:00  -38:00:00  2.440808e+06   3600.0
2          30899     42880  23:00:00  -77:00:00  2.440808e+06   3600.0
3          30900     42881  23:00:00  -64:00:00  2.440808e+06   3600.0
4          30901     42882  00:00:00  -51:00:00  2.440808e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        31064     43043  16:00:00  -64:00:00  2.441064e+06   3600.0
166        31065     43044  17:00:00  -51:00:00  2.441065e+06   3600.0
167        31066     43045  17:00:00  -38:00:00  2.441065e+06   3600.0
168        31067     43046  17:00:00  -77:00:00  2.441065e+06   3600.0
169        31068     43047  17:00:00  -64:00:00  2.441065e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          31069     43048  12:00:00  -51:00:00  2.441066e+06   3600.0
1          31070     43049  12:00:00  -38:00:00  2.441066e+06   3600.0
2          31071     43050  12:00:00  -77:00:00  2.441066e+06   3600.0
3          31072     43051  12:00:00  -64:00:00  2.441066e+06   3600.0
4          31073     43052  13:00:00  -51:00:00  2.441066e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        31236     43213  22:00:00  -64:00:00  2.441122e+06   3600.0
166        31237     43214  23:00:00  -51:00:00  2.441122e+06   3600.0
167        31238     43215  23:00:00  -38:00:00  2.441122e+06   3600.0
168        31239     43216  23:00:00  -77:00:00  2.441122e+06   3600.0
169        31240     43217  23:00:00  -64:00:00  2.441122e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          31241     43218  13:00:00  -51:00:00  2.441123e+06   3600.0
1          31242     43219  13:00:00  -38:00:00  2.441123e+06   3600.0
2          31243     43220  13:00:00  -77:00:00  2.441123e+06   3600.0
3          31244     43221  13:00:00  -64:00:00  2.441123e+06   3600.0
4          31245     43222  14:00:00  -51:00:00  2.441123e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        31406     43383  18:00:00  -12:00:00  2.441427e+06   3600.0
166        31407     43384  18:00:00  -51:00:00  2.441427e+06   3600.0
167        31408     43385  18:00:00  -38:00:00  2.441427e+06   3600.0
168        31409     43386  19:00:00  -25:00:00  2.441427e+06   3600.0
169        31410     43387  19:00:00  -12:00:00  2.441427e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          31411     43388  19:00:00  -51:00:00  2.441427e+06   3600.0
1          31412     43389  19:00:00  -38:00:00  2.441427e+06   3600.0
2          31413     43390  14:00:00  -25:00:00  2.441444e+06   3600.0
3          31414     43391  14:00:00  -12:00:00  2.441444e+06   3600.0
4          31415     43392  14:00:00  -51:00:00  2.441444e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        31576     43553  16:00:00  -38:00:00  2.441506e+06   3600.0
166        31577     43554  17:00:00  -25:00:00  2.441506e+06   3600.0
167        31578     43555  17:00:00  -12:00:00  2.441506e+06   3600.0
168        31579     43556  17:00:00  -51:00:00  2.441506e+06   3600.0
169        31580     43557  17:00:00  -38:00:00  2.441506e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          31581     43558  18:00:00  -25:00:00  2.441506e+06   3600.0
1          31582     43559  18:00:00  -12:00:00  2.441506e+06   3600.0
2          31583     43560  18:00:00  -51:00:00  2.441506e+06   3600.0
3          31584     43561  18:00:00  -38:00:00  2.441506e+06   3600.0
4          31585     43562  19:00:00  -25:00:00  2.441506e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        31746     43723  20:00:00  -12:00:00  2.441536e+06   3600.0
166        31747     43724  20:00:00  -51:00:00  2.441536e+06   3600.0
167        31748     43725  20:00:00  -38:00:00  2.441536e+06   3600.0
168        31749     43726  21:00:00  -25:00:00  2.441536e+06   3600.0
169        31750     43727  21:00:00  -12:00:00  2.441536e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          31751     43728  21:00:00  -51:00:00  2.441536e+06   3600.0
1          31752     43729  21:00:00  -38:00:00  2.441536e+06   3600.0
2          31753     43730  22:00:00  -25:00:00  2.441536e+06   3600.0
3          31754     43731  22:00:00  -12:00:00  2.441536e+06   3600.0
4          31755     43732  22:00:00  -51:00:00  2.441536e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        31917     43893  03:00:00  -25:00:00  2.441592e+06   3600.0
166        31918     43894  03:00:00  -12:00:00  2.441592e+06   3600.0
167        31919     43895  03:00:00  -51:00:00  2.441592e+06   3600.0
168        31920     43896  03:00:00  -38:00:00  2.441592e+06   3600.0
169        31921     43897  04:00:00  -25:00:00  2.441592e+06   3600.0

[170 rows x 6 columns]
     exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0          31922     43898  04:00:00  -12:00:00  2.441592e+06   3600.0
1          31923     43899  04:00:00  -51:00:00  2.441592e+06   3600.0
2          31924     43900  04:00:00  -38:00:00  2.441592e+06   3600.0
3          31925     43901  22:00:00  -25:00:00  2.441595e+06   3600.0
4          31926     43902  22:00:00  -12:00:00  2.441595e+06   3600.0
..           ...       ...       ...        ...           ...      ...
165        32087     44063  08:00:00  -51:00:00  2.441691e+06   3600.0
166        32088     44064  08:00:00  -38:00:00  2.441691e+06   3600.0

In [20]:
# Initialize an empty DataFrame to store the combined results
combined_df = pd.DataFrame()

# Combine the query results into a single DataFrame
for result in query_results:
    df_result = result.to_table().to_pandas()
    combined_df = pd.concat([combined_df, df_result], ignore_index=True)

# Save the combined DataFrame as a CSV file named 'plate_tls.csv'
combined_df.to_csv('plate_dro_ss.csv', index=False)

In [21]:
import pandas as pd

# Read the CSV files into DataFrames
df1 = pd.read_csv('plate_dro.csv')
df2 = pd.read_csv('Dr._Remeis-Observatory,_Southern_Station.csv')

# Merge the DataFrames on 'plate_id'
merged_df = pd.merge(df2, df1[['plate_id', 'ra_orig', 'dec_orig']], on='plate_id')

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('DRO_SS_plate_pos.csv', index=False)

print("Merged file saved as 'DRO_SS_plate_pos.csv'")

Merged file saved as 'DRO_SS_plate_pos.csv'

In [22]:
import pandas as pd
from datetime import datetime, timedelta

# Function to filter plates taken within a one-year period and have different filters
def filter_plates_within_year(df):
    filtered_plates = []
    for i in range(len(df)):
        for j in range(i+1, len(df)):
            date_i = datetime.strptime(df.iloc[i]['date_orig'], '%Y-%m-%d')
            date_j = datetime.strptime(df.iloc[j]['date_orig'], '%Y-%m-%d')
            delta = date_j - date_i
            if abs(delta.days) <= 124 and df.iloc[i]['filter'] != df.iloc[j]['filter']:
                filtered_plates.append(df.iloc[i])
                filtered_plates.append(df.iloc[j])
    return pd.DataFrame(filtered_plates)

# Read the CSV file
filename = "DRO_SS_plate_pos.csv"
# filename = "DRO_plate_pos.csv"
# filename = "ESO_plate_pos.csv"
# filename = "AOP_plate_pos.csv"
# filename = "HS_plate_pos.csv"
# filename = "TLS_plate_pos.csv"
# filename = "Vatican_Observatory.csv"
# filename = "Dr._Remeis-Observatory.csv"
df = pd.read_csv(filename)

# Sort by date_orig
df_sorted = df.sort_values(by='date_orig')

# Filter plates within one-year period with different filters
filtered_df = filter_plates_within_year(df_sorted)

# Save filtered DataFrame to CSV
filtered_df.to_csv("DRO_SS.csv", index=False)

In [24]:
import requests
import pyvo as vo
import json
import numpy as np
import pandas as pd

# Define the parameters
name = 'APPLAUSE'
url = 'https://www.plate-archive.org/tap'
token = 'Token 863d6c56ca291ffc99090f6b2cefb35f496ca8e4'

# Read the CSV file and select the column with the plate_id
df = pd.read_csv('Vatican_Observatory.csv')
plate_ids = df['plate_id'].tolist()

# Function to chunk the list into groups of specified size
def chunk_list(data_list, chunk_size):
    for i in range(0, len(data_list), chunk_size):
        yield data_list[i:i + chunk_size]

# Function to process each chunk
def process_chunk(chunk):
    # Format the plate_id list for the SQL query
    ids_str = ', '.join(f"'{id}'" for id in chunk)
    
    # Create the query string
    qstr = f"""
    SELECT exposure_id, plate_id, ra_orig, dec_orig, jd_start, exptime
    FROM applause_dr4.exposure
    WHERE plate_id IN ({ids_str})
    """
    
    # Setup the TAP service session
    tap_session = requests.Session()
    tap_session.headers['Authorization'] = token
    tap_service = vo.dal.TAPService(url, session=tap_session)
    
    # Submit the query
    lang = 'PostgreSQL'
    job = tap_service.submit_job(qstr, language=lang)
    job.run()
    
    # Wait for job completion
    job.wait(phases=["COMPLETED", "ERROR", "ABORTED"], timeout=30.)
    
    # Raise an error if the job failed
    job.raise_if_error()
    
    # Fetch results
    return job.fetch_result()

# Print pyvo version and TAP service name
print('\npyvo version %s \n' % vo.__version__)
print('TAP service %s \n' % name)

# Initialize the result list
query_results = []

# Process each chunk
for chunk in chunk_list(plate_ids, 170):
    results = process_chunk(chunk)
    query_results.append(results)

# Print the final query results as DataFrame
for result in query_results:
    df_result = result.to_table().to_pandas()
    print(df_result)

pyvo version 1.5.2

TAP service APPLAUSE

   exposure_id  plate_id   ra_orig   dec_orig      jd_start  exptime
0       139009     95879  19:54:00  +39:12:00  2.433908e+06   5040.0
1       139010     95880  19:54:00  +39:12:00  2.433909e+06    900.0
2       139041     95911  19:41:00  +37:54:00  2.433985e+06   1800.0
3       139044     95914  19:41:00  +37:54:00  2.433986e+06   7200.0
4       139050     95920  19:54:00  +39:12:00  2.433997e+06   1800.0
5       139051     95921  19:41:00  +37:54:00  2.433997e+06   1800.0
6       139075     95945  19:41:00  +37:09:00  2.434004e+06   1800.0
7       139076     95946  19:54:00  +39:12:00  2.434004e+06   1800.0

In [25]:
# Initialize an empty DataFrame to store the combined results
combined_df = pd.DataFrame()

# Combine the query results into a single DataFrame
for result in query_results:
    df_result = result.to_table().to_pandas()
    combined_df = pd.concat([combined_df, df_result], ignore_index=True)

# Save the combined DataFrame as a CSV file named 'plate_tls.csv'
combined_df.to_csv('plate_vo.csv', index=False)

In [26]:
import pandas as pd

# Read the CSV files into DataFrames
df1 = pd.read_csv('plate_vo.csv')
df2 = pd.read_csv('Vatican_Observatory.csv')

# Merge the DataFrames on 'plate_id'
merged_df = pd.merge(df2, df1[['plate_id', 'ra_orig', 'dec_orig']], on='plate_id')

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('VO_plate_pos.csv', index=False)

print("Merged file saved as 'VO_plate_pos.csv'")

Merged file saved as 'VO_plate_pos.csv'

In [31]:
import pandas as pd
from datetime import datetime, timedelta

# Function to filter plates taken within a one-year period and have different filters
def filter_plates_within_year(df):
    filtered_plates = []
    for i in range(len(df)):
        for j in range(i+1, len(df)):
            date_i = datetime.strptime(df.iloc[i]['date_orig'], '%Y-%m-%d')
            date_j = datetime.strptime(df.iloc[j]['date_orig'], '%Y-%m-%d')
            delta = date_j - date_i
            if abs(delta.days) <= 124 and df.iloc[i]['filter'] != df.iloc[j]['filter']:
                filtered_plates.append(df.iloc[i])
                filtered_plates.append(df.iloc[j])
    return pd.DataFrame(filtered_plates)

# Read the CSV file
filename = "VO_plate_pos.csv"
# filename = "DRO_SS_plate_pos.csv"
# filename = "DRO_plate_pos.csv"
# filename = "ESO_plate_pos.csv"
# filename = "AOP_plate_pos.csv"
# filename = "HS_plate_pos.csv"
# filename = "TLS_plate_pos.csv"
# filename = "Vatican_Observatory.csv"
# filename = "Dr._Remeis-Observatory.csv"
df = pd.read_csv(filename)
# print(df)

# Sort by date_orig
df_sorted = df.sort_values(by='date_orig')
# print(df_sorted)

# Filter plates within one-year period with different filters
filtered_df = filter_plates_within_year(df_sorted)
print(filtered_df)

# Save filtered DataFrame to CSV
filtered_df.to_csv("VO.csv", index=False)

Empty DataFrame
Columns: []
Index: []